<!-- Profiles/Show.html.erb -->
<script> document.CurrentProfile = <%= @current_profile %>; document.CurrentProfileType = "<%= @current_profile_type %>" ;  </script>
<div class = "container-fluid">
	<div class = "row navbar" id = "homeNavbar">
		
		<div id = "searchAndHomeItems" class = "col-md-7 homeNavbarItem"><a href = "/"> <img id = "homeButton" src = "http://www.designfreelogoonline.com/wp-content/uploads/2014/11/00148-Horse-logo-design-free-logo-template-02.png" height = "40" width="40"></a>
			 <input id = "searchBar" type = "text" size = "50" placeholder="Search HorseNet">
			 <span id = "searchButtonContainer">
			 	<span class = "glyphicon glyphicon-search" id = "searchButton"></span>
			 </span> 
		</div>
		<div id = "ProfileOptionsItems" class = "col-md-4 homeNavbarItem">
			<span class = "ProfileOptionsItem" id = "ProfileOptionsItemsCurrentUser"><%= @current_user.name %></span>
			<span class = "ProfileOptionsItem" id = "ProfileOptionsItemsHome">Home</span>
			<span class = "ProfileOptionsItem" id = "ProfileNotificationsButtons">
				<span id = "ProfileNotificationsButton" class = "glyphicon glyphicon-user"></span>
				<span id = "ProfileNotificationsButton" class = "glyphicon glyphicon-envelope"></span>
				<span id = "ProfileNotificationsButton" class = "glyphicon glyphicon-bell"></span>
			</span>
			<span class = "ProfileOptionsItem" id = "ProfileAccountOptions">
				<span class = "glyphicon glyphicon-chevron-down"></span>
			</span>
		</div>
		
	</div>
	<div class = "row profileBarRow"> 
		<div class = "col-md-9 profileHeader">
			<div class = "profileBar">
				<div class = "profileNameAndButtons">
		 			<span class = "profileName"></span>
		 			<span class = "profileButtons">
		 				<button type="button" class="btn btn-success followButton profileButton">Following</button>
		 				<button type="button" class="btn btn-secondary messageButton profileButton">Message</button>
		 			</span>
		 		</div>
		 	</div>
		 	<div class = "followersAndPosts">
				<span class = "profileFollowerCount profileButton"><b> <%= @current_profile_info.followers.count %></b> Followers </span>
				<span class = "profilePostCount profileButton"> <b><%= @current_profile_info.posts.count %></b> Posts </span>
				<span class = "profileClassesCount profileButton"><b> 0 </b>Classes Logged </span>

			</div>
		 	<div class = "profileNavigationBar">
		 		<div class = "profileNavigationBarButtons">
		 			<span class = "profileNavigationBarButton"><a>Timeline</a></span>
		 			<span class = "profileNavigationBarButton"><a>About</a></span>
		 			<span class = "profileNavigationBarButton"><a>Classes</a></span>
		 			<span class = "profileNavigationBarButton"><a>Photos/Videos</a></span>
		 			<span class = "profileNavigationBarButton"><a>Calender</a></span>
		 			<span class = "profileNavigationBarButton"><a>More</a></span>
		 		</div>
		 	</div>
		 	<div class = "profilePictureHolder"></div>
		</div>
		<div class = "col-md-3">
			<div id = "messagesBox">
				<div  class = "messages mainBox"><a><b><span class = "messagesBoxText"> Messages </span></b></a></div>
			</div>
		</div>
	</div>
	
	<div class = "row mainBoxes">

		<div class = "col-md-3  mainBox">
			<div class = "infoBars"></div>
			<!-- Nested table of things roots to start from. Surfline Style how it keeps building out -->
		</div>
		<div class = "col-md-6  mainBox">
			<div id = "profileTimeLine" class = "newsFeed"></div>
		</div>
		
	</div>

<!-- Use a cork board for the background image -->
</div>
<%= link_to('Sign Out', '/users/sign_out', method: :delete) %>